$navbar-height:                    50px;
$navbar-border-radius:             0px;
$navbar-default-bg:                rgba(0, 0, 0, 0);
$navbar-default-color:             #fff;
$navbar-default-border:            $navbar-default-bg;


$label-default-bg:            #fff;
$label-color:                 #333333;
