@import "bootstrap-custom";

$breakpoint-sp: 768px;

.wrapper {
	width: 100%;
}

.image {
	padding: 10px;
	background-color:#e6e6e6;
}

.work {
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
  background-position: center;
  backdrop-filter: blur(2px);
	margin: 0;
	padding: 0;
  @media screen and (min-width: $breakpoint-sp) {
  	.margin-adjust {
	  margin: 20% 0;  	
  	}

  	.image {
  	  margin: 0 20%;
  	}

    .work-title {
      color: #fff;
      font-family : 游ゴシック;
      font-size: 45px;
      font-weight: bold;
      letter-spacing: 9px;
    }
  }
  @media screen and (max-width: $breakpoint-sp) {
  	.margin-adjust {
  	  margin: 10% 0;
  	}

  	.image {
  	  margin: 0;
  	}

    .work-title {
      color: #fff;
      font-family : 游ゴシック;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 6px;
    }
  }
  .categories {
    padding: 15px 15px 15px 15px;
  }
  .label.category {
    font-size: 14px !important;
    letter-spacing: 2px;
    padding: 5px;
    border-radius: 0px;
  }
}

#work01 {
	background-image: url('carry.png');
}

#work02 {
	background-image: url('tedxaizuwakamatsu.jpg');
}
